<div class="col-md-12" >
    <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Create Todo</h4>
              <p class="card-category">Add a new todo</p>
          </div>
    </div>
              <form [formGroup]="todoForm">
                  <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="name..." type="text" ng-model="con" formControlName="name" required >
                        </mat-form-field>
                    </div>
                      <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                          <input matInput placeholder="description..." type="text" ng-model="cap" formControlName="description" required>
                          </mat-form-field>
                      </div>
                  
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="duration(days)" type="nmber" ng-model="con"  formControlName="duration" required>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <mat-label>Status</mat-label>
                              <mat-select formControlName="status"  [value]="selected" >
                                  <mat-option value="not started" >NOT STARTED</mat-option>
                                  <mat-option value="in Progress" >IN PROGRESS</mat-option>
                                  <mat-option value="ended">ENDED</mat-option>
                                </mat-select>                     
                               </mat-form-field>
                            </div>
                  </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right"  (click)="onCreate()">Create </button>

              </form>
  </div>
